name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk/svg-only@v3
        with:
          github_user_name: viniciusribeironery
          outputs: |
            output/github-contribution-grid-snake.svg
            output/github-contribution-grid-snake-purple.svg?color_snake=#9D4EDD&color_dots=#0D0221,#1A083D,#3C096C,#5A189A,#7B2CBF

      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: output
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
